/Estrutura de Controle/EstruturaDeControle/nbproject/private/
/Estrutura de Controle/EstruturaDeControle/build/
/campo-minado-swing/nbproject/private/
/Calculadora/nbproject/private/
/Calculadora/build/
/Criptografia/nbproject/private/
/Criptografia/build/
/ExerciciosBeecrowd_23_1021/nbproject/private/
/ExerciciosBeecrowd_23_1021/build/
/ValidadorDeCPF/nbproject/private/
/ValidadorCPF/nbproject/private/
/ValidadorCPF/build/
/ValidarCPF/nbproject/private/
/ValidarCPF/build/
/Exercicios_Udemy_BD/nbproject/private/
/Exercicios_Udemy_BD/build/
/Exercicios_JPA/nbproject/private/
/exercicios-jpa/nbproject/private/
/Projeto_Cadastro_Loja/nbproject/private/
/Cadastro_Loja/nbproject/private/
/exercicio-jpa/nbproject/private/
/exercicios-jp/nbproject/private/
/JavaApplication107/nbproject/private/
/exercicios-jp/build/
/exercicios-jpa/build/
/app-calculo/nbproject/private/
/app-calculo/build
/ExerciciosBeecrowd_1046/nbproject/private/
/ExerciciosBeecrowd_1046/build/
/ProjetoInterface/nbproject/private/
/ProjetoInterface/build/
/ProjetoBiblioteca/nbproject/private/
/ProjetoBiblioteca/build/
/ProjetoBiblioteca/dist/
